<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INFO3180 Flask App - Lab 1</title>
    <link rel="stylesheet" href="/static/css/app.css">
  </head>
  <body>
    <div class="container">
      <h1>Wah Gwaan Jamaica</h1>
      <p>It was at 7:30 pm this evening (April 8) that Air Force One
          touched down at the Norman Manley 
          International Airport in Kingston, 
          bringing United States (US) President, 
          Barack Obama to the nation’s shores.</p>
    </div>
  </body>
</html>
